<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <meta charset="UTF-8">
    <title>Edit Character</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<section layout:fragment="content" class="w-75">
    <div style="font-family: 'Arvo', sans-serif" class="p-5">
        <div class="main-body d-flex flex-column gap-2 p-2 align-items-center justify-content-center mx-auto">
            <h2 class="series-title w-100 text-center my-2" style="color: var(--text-black-color)">Edit Anime Character</h2>
            <div class="w-75 p-4" style="border: 5px solid var(--secondary-color); border-radius: 25px; background-color: rgba(233, 209, 245, 0.75);">
                <form th:action="@{/character/save}" th:object="${character}" method="post">
                    <input type="hidden" th:field="*{seriesId}"/>
                    <input type="hidden" th:field="*{id}">

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="name" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Character Name</label>
                        <input type="text" id="name" name="name" th:field="*{name}"
                               style="border: 2px solid var(--primary-color); border-radius: 5px; width: 50%;">
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="imageUrl" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Character Image URL</label>
                        <input type="text" id="imageUrl" name="imageUrl" th:field="*{imageUrl}"
                               style="border: 2px solid var(--primary-color); border-radius: 5px; width: 50%;">
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="voiceActor" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Voice Actor</label>
                        <select id="voiceActor" name="voiceActorId" th:field="*{voiceActorId}"
                                style="border: 2px solid var(--primary-color); border-radius: 5px; width: 50%;">
                            <option th:each="voiceActor : ${allVoiceActors}"
                                    th:value="${voiceActor.key}"
                                    th:text="${voiceActor.value.name}"
                                    th:selected="${voiceActor.key} == ${character.voiceActorId}">
                            </option>
                        </select>
                    </div>

                    <div class="w-100 text-center mt-4">
                        <button type="submit" class="btn" style="background-color: var(--primary-color); border: 5px solid var(--secondary-color); padding: 10px 20px; border-radius: 25px;">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
