<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer">
    <footer class="footer mt-auto py-3 d-flex justify-content-center align-items-center" style="color: var(--secondary-color); background-color: var(--primary-color)">
        <div class="container text-center text-muted">
            <span>© 2024
                <a href="http://github.com/CitralFlo" class="text-decoration-none text-black">CitralFlo</a>
            </span>
        </div>
    </footer>
</div>
</body>
</html>