<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>Update Series</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<section layout:fragment="content" class="w-75">
    <div style="font-family: 'Arvo', sans-serif" class="p-5 justify-content-center align-items-center">
        <div class="main-body d-flex flex-column gap-2 p-2 align-items-center">
            <h2 class="series-title w-100 text-center my-2" style="color: var(--text-black-color)"
                th:text="'Editing ' + ${series.title}">Edit Series</h2>
            <div class="w-75 p-4" style="border: 5px solid var(--secondary-color); border-radius: 25px; background-color: rgba(233, 209, 245, 0.75);">
                <form th:action="@{/series/save}" th:object="${series}" method="post">
                    <input type="hidden" th:field="*{id}">

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="title" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Title</label>
                        <input type="text" id="title" name="title" th:field="*{title}"
                               class="form-control"
                               style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;">
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="description" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Description</label>
                        <textarea id="description" name="description" rows="3" th:field="*{description}"
                                  class="form-control"
                                  style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;"></textarea>
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="imageUrl" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Image URL</label>
                        <input type="text" id="imageUrl" name="imageUrl" th:field="*{imageUrl}"
                               class="form-control"
                               style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;">
                    </div>


                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="rating" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Rating</label>
                        <select id="rating" name="rating" th:field="*{rating}"
                                class="form-control"
                                style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;">
                            <option th:each="rating : ${T(dev.citralflo.animelist.model.Rating).values()}"
                                    th:value="${rating}" th:text="${rating}">RATING</option>
                        </select>
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <h5 style="font-weight: bold; width: 100%; text-align: center;">Genres</h5>
                        <select id="genre" name="genre" th:field="*{genres_id}" multiple
                                class="form-select"
                                style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;">
                            <option th:each="genre : ${allGenres}" th:value="${genre.id}" th:text="${genre.name}"
                                    th:selected="${series.genres_id.contains(genre.id)}"></option>
                        </select>
                    </div>

                    <div class="w-100 mb-3 d-flex flex-column align-items-center">
                        <label for="note" class="form-label mb-1" style="font-weight: bold; width: 100%; text-align: center;">Note</label>
                        <input type="hidden" th:field="*{note.id}">
                        <textarea id="note" name="note" rows="3" th:field="*{note.note}"
                                  class="form-control"
                                  style="border: 2px solid var(--primary-color); border-radius: 5px; width: 100%;"></textarea>
                    </div>

                    <div class="w-100 text-center mt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</body>
</html>
