<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>View series</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<section layout:fragment="content">
    <div style="font-family: 'Arvo', sans-serif" class="p-5 justify-content-center align-items-center">
        <div class="main-body d-flex flex-column gap-2 p-2 align-items-center">
            <h1 class="series-title w-100 text-center my-2" style="color: var(--text-black-color)"
                th:text="${series.title}">
                Title</h1>
            <div class="w-100 d-flex flex-row gap-2">
                <div class="series-picture w-25 h-auto position-relative">
                    <img th:src="@{'/series/' + ${series.id} + '/seriesimage'}" alt="Series Picture" class="img-fluid">
                    <a class="edit-button" th:href="@{'/series/' + ${series.id.longValue()} + '/image'}">
                        <img th:src="@{/images/edit.png}"
                             alt="Edit button"
                             style="border: 5px solid var(--secondary-color);
                             border-radius: 5px;
                             width: 50px;
                             height: 50px;
                             position: absolute;
                             padding: 5px;
                             top: 0;
                             right: 0;
                             background-color: var(--primary-color)">
                    </a>
                </div>
                <div class="series-description w-75 gap-2 ">
                    <div class="desc h-50 p-3" style="border: 5px solid var(--secondary-color); border-radius: 5px;">
                    <span th:text="${series.description}" class="text-">
                        Lorem ipsum description goes here...
                    </span>
                    </div>
                    <div class="d-flex flex-row h-100">
                        <div class="h-50 w-50 d-flex gap-1 p-2 flex-wrap"
                             style="border: 5px solid var(--secondary-color); border-radius: 5px;">
                            <div class="series-genre mt-2 p-3 "
                                 style="border: 2px solid var(--secondary-color);
                                 border-radius: 5px;
                                 padding: 5px;
                                 width: fit-content;
                                 height: fit-content"
                                 th:each="genre : ${series.getGenres()}">
                                <span th:text="${genre.name}">Genre 1</span>
                            </div>
                        </div>
                        <div class="h-50 w-50 rating gap-1 p-2"
                             style="border: 5px solid var(--secondary-color); border-radius: 5px;">
                            <h5>Rating:</h5>
                            <span class="text-decoration-underline bold" th:text="${series.rating}">Rating</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="series-characters w-100 p-2"
             style="border: 5px solid var(--secondary-color); border-radius: 5px; box-sizing: border-box">
            <div class="character-header d-flex flex-row justify-content-between">
                <h5>Characters:</h5>
                <div>
                    <a class="new-button" th:href="@{'/series/' + ${series.id.longValue()} + '/character/new'}">
                        <img th:src="@{/images/plus.png}"
                             alt="Edit button"
                             style="border: 2px solid var(--secondary-color); border-radius: 5px; width: 50px; height: 50px;">
                    </a>

                    <a class="edit-button" th:href="@{'/series/' + ${series.id.longValue()} + '/characters'}">
                        <img th:src="@{/images/view.png}"
                             alt="Edit button"
                             style="border: 2px solid var(--secondary-color); border-radius: 5px; width: 50px; height: 50px;">
                    </a>
                </div>
            </div>
            <div class="d-flex flex-row gap-2">
                <div th:each="character : ${series.characters}" class="character w-25 p-3 align-items-center "
                     style="border: 2px solid var(--secondary-color); border-radius: 5px;">
                    <span th:text="${character.name}" class="character-name text-center mt-3">Character name</span>
                    <img th:src="${character.imageUrl}" alt="Character Image" class="img-thumbnail object-fit-cover">
                </div>
            </div>
        </div>
        <div class="series-note mt-2"
             style="border: 5px solid var(--secondary-color); border-radius: 5px;  box-sizing: border-box">
            <h5>Admin comment:</h5>
            <span class="note-text" th:text="${series.note.note}">Note</span>
        </div>
    </div>
</section>
</body>
</html>